body{
    font-family: Nunito, sans-serif;
    color: #1c1c1c;
}

h1,h2,h3{
    font-family: Asap, sans-serif;
    color: #000000;
}

.botao{
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 30px;
    font-size: .9em;
    background-color: #191970;
    border-radius: 3px;
}

/* Navegacao */

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191970;
}

nav > a{
    text-decoration: none;
    font-family: Yellowtail, sans-serif;
    color: #fff;
    font-weight: 800;
    font-size: 32px;
}


nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0px;
    width: 100%;
}

nav ul li{
    text-align: center;
    width: 100%;
    
    
}

nav ul li a{
    display: inline-block;
    padding: 10px 0px;
    text-decoration: none;
    color: #ffffff;

}

.section-p1{
    padding: 40px 80px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: url(./img/camera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 20px;
}

header h1{
    color: #ffffff;
}

/* Margin dinamica ( em ) muda pela posiçao que iniciar*/
header p{
    margin-bottom: 2em;
    
}

#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background: #191970;
    color: #ffffff;
}

#sobre h2{
    color: #ffffff;
}

#sobre p{
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#sobre .botao{
    background-color: #f1f1f1;
    color: #1c1c1c;
}

#servicos {
    text-align: center;
}

#servicos .serv-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  
}

#servicos .photos{
    width: 23%;
    min-width: 250px;
    margin: 15px 0;
    position: relative;
}

#servicos .photos img{
    width: 23%;
    height: 25%;
}





#fotos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fotos h2{
 
    margin-bottom: 20px;
}

#fotos img{
    width: 100%;
}

#contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#contato h2{
    color: #000000;
}

footer{
    text-align: center;
    padding: 10px;
    background: #191970;
    color: #FFFFFF;
}

footer a{
    text-decoration: none;
    color: #00ffff;
}

@media screen and (min-width: 768px)
{

    nav{
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul{
        flex-direction: row;
        width: 70%;
    }

    header{
        height: 600px;
        height: 60vh;
        justify-content: center;
    }

    #sobre {
        height: 250px;
        height: 30vh;
        min-height: 250px;
        justify-content: center;
    
    }

   
    
    #fotos{
        flex-direction: row;
        flex-wrap: wrap;
    }

    #fotos h2{
        width: 100%;
        text-align: center;
    }

    #fotos img{
        width: 33.3333333%;
    }

    #contato{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }

    #contato h2, #contato p{
        width: 100%;
        
    }



}

@media (max-width:1280px){

    #servicos .serv-container{
        flex-wrap: wrap;
    }

    #servicos .photos{
        width: 50%;
    }

}


